section {
    margin: 50px 0 50px 0;
}

canvas {
  max-height: 100%;
  max-width: 100%;
  min-width: 150px;
  min-height: 100px;
}

.document {
    width: 100%;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    position: absolute;
    left: 0;
    top: 0;
    margin-bottom: 65px;
}

.query {
  min-width: 600px;
  overflow-y: auto;
  min-height: 10px; //max-height: 200px;
    margin-bottom: 20px;
    .mat-headline {
        padding: 0 10px;
        margin: 0;
    }
    button {
        width: 100%;
        margin: 20px 0;
        text-transform: uppercase;
    }

  mat-expansion-panel{
    margin-bottom: 20px;
  }
}

.img-container {
    position: relative;
}

.drawing-word {
    border: black 2px solid;
    position: absolute;
}
