<mat-progress-bar *ngIf="!document" mode="indeterminate" color="warn"></mat-progress-bar>
<section *ngIf="document" fxLayout="column" fxLayoutAlign="space-evenly center">

  <div fxFlex fxFlexAlign="center" fxFill [style.display]="displayQuery">
    <div fxLayout="row" fxLayoutAlign="center center">
      <div fxFlex="90" class="radius-dashed-border query">
        <div fxLayout="row" fxLayoutAlign="center center">
          <div fxFlex="20" style="text-align: center">
            <h1 class="mat-headline">Query:</h1>
          </div>
          <div fxFlex="60">
            <canvas id="query" #query></canvas>
          </div>
          <div fxFlex="grow" style="margin: 0 5%">
            <div fxLayout="column" fxLayoutAlign="space-between space-between">
              <div fxFlex>
                <button mat-raised-button color="accent" (click)="search()">Search</button>
              </div>
              <div fxFlex>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Options
                    </mat-panel-title>
                    <mat-panel-description>Fine Tune Search</mat-panel-description>
                  </mat-expansion-panel-header>
                  <div fxLayout="row" fxLayoutAlign="space-between center">
                    <div fxFlex="45">
                      <mat-form-field>
                        <mat-select placeholder="Multiple Word Assignments"
                                    (valueChange)="updateMultipleWordAssignments($event)"
                                    [value]="options.MultipleWordAssignments"
                        >
                          <mat-option [value]="1">1</mat-option>
                          <mat-option [value]="2">2</mat-option>
                          <mat-option [value]="3">3</mat-option>
                          <mat-option [value]="4">4</mat-option>
                          <mat-option [value]="5">5</mat-option>
                        </mat-select>

                      </mat-form-field>
                    </div>
                    <div fxFlex="45">
                      <mat-form-field>
                        <mat-select placeholder="Center Local Points Number"
                                    (valueChange)="updateNumberCenterLocalPoints($event)"
                                    [value]="options.NumberCenterLocalPoints"
                        >
                          <mat-option [value]="1">1</mat-option>
                          <mat-option [value]="2">2</mat-option>
                          <mat-option [value]="3">3</mat-option>
                          <mat-option [value]="4">4</mat-option>
                          <mat-option [value]="5">5</mat-option>

                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                  <div fxLayout="row" fxLayoutAlign="space-between center">
                    <div fxFlex="90">
                      <mat-form-field>
                        <input matInput (change)="updateTakeLocalPointsSameQuantizationBucket($event.target.value)" [value]="options.TakeLocalPointsSameQuantizationBucket"
                               type="number" min="1" max="100000" placeholder="Local Points Same Quantization Bucket Number">
                      </mat-form-field>
                    </div>
                  </div>
                </mat-expansion-panel>

              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div fxFlex="grow" fxFlexAlign="center" fxFill>
    <div fxLayout="row" fxLayoutAlign="center center">
      <div fxFlex="90" class="text-center">
        <h1 class="subheading-1">{{ getFilename(document.path)}}</h1>
        <div class="img-container">
          <img draggable="false"
               ondragstart="return false;"
               #mainDocument (load)="onMainDocumentLoad()" class="document"
               [src]="'file:///' + document?.path"/>
          <div #wordDiv class="drawing-word"
               [style.display]="displayWordDiv"
               [style.left.px]="word.x"
               [style.top.px]="word.y"
               [style.width.px]="word.width"
               [style.height.px]="word.height"></div>
        </div>
      </div>
    </div>
  </div>
</section>
