<header class="header-background" fxLayout="row" fxLayoutAlign="start center">
    <mat-toolbar color="primary">
        <button mat-button (click)="open('http://duth.gr/index.en.shtml')">
            <img class="img-responsive duth" src="~assets/images/DUTHlogo.png" />
        </button>
        <button mat-button="" (click)="open('http://vc.ee.duth.gr')">
            <img class="img-responsive vcg" src="~assets/images/VCGlogo.png" />
        </button>
        
    </mat-toolbar>
    <button *ngIf="activate" [routerLink]="link" class="home-button" mat-raised-button color="accent">
        {{ title }}
    </button>
</header>
<router-outlet></router-outlet>
<section class="section-background footer">
    <mat-toolbar color="accent">
        <button mat-button="" (click)="open('https://read.transkribus.eu/')">
            <img class="img-responsive vcg" src="~assets/images/readlogo.png" />
        </button>
        <span class="fill"> </span>
        <span class="mat-caption">
            <span>by</span> Konstantinos Zagoris:</span>
        <button mat-icon-button (click)="open('http://www.zagoris.gr')">
            <mat-icon>
                <i class="icon ion-social-html5"></i>
            </mat-icon>
        </button>
        <button mat-icon-button (click)="open('https://twitter.com/kzagoris')">
            <mat-icon>
                <i class="icon ion-social-twitter"></i>
            </mat-icon>
        </button>
    </mat-toolbar>
</section>