<section class="section-background" fxLayout="column" fxFlexAlign="cross-axis stretch">
    <div fxFlex="grow" fxFlexFill class="home-section mat-typography">
        <div class="header-headline">
            <h1 class="mat-display-3">Word Spotting</h1>
            <h2>Query by Example</h2>
        </div>
        <div class="header-start">
            <button mat-raised-button color="accent" class="button" routerLink="/collections">Getting Started</button>
        </div>
    </div>
</section>
