.section-background {
  padding: 120px 0 120px 0;
  height: 89%;
}

.home-section {
  text-align: center;
  padding-top: 10px;
}

.mat-display-3 {
  margin-bottom: 15px;
}

body {
  background-color: black;
}

