<mat-progress-bar *ngIf="!(displayResult | async)" mode="indeterminate" color="warn"></mat-progress-bar>
<section *ngIf="displayResult | async" fxLayout="column" fxLayoutAlign="space-evenly center">
  <div fxFlexAlign="center" *ngIf="selectedResult === null">
    <h1 class="mat-display-1">Search Results</h1>
  </div>
  <div fxFlexAlign="center" fxFill *ngIf="selectedResult === null">
    <mat-grid-list [cols]="cols" gutterSize="20px">
      <mat-grid-tile *ngFor="let result of resultsPaged">
        <div *ngIf="!(result.content | async)" class="lds-eclipse">
          <div></div>
        </div>
        <img class="result" *ngIf="(result.content | async)" (click)="showResultOnImage(result)"
             [src]="result?.content | async"
        />
      </mat-grid-tile>
    </mat-grid-list>

  </div>

  <div fxFlexAlign="center" fxFill *ngIf="selectedResult != null">
    <div fxLayout="row" fxLayoutAlign="center center">
      <div fxFlex="90" class="text-center">
        <div style="text-align: right;margin-bottom: 20px;">
          <button mat-raised-button color="warn" class="return-results-button" (click)="returnToResults()">Return to Results</button>
        </div>
        <app-browse-result [collectionId]="collectionId" [result]="selectedResult"></app-browse-result>
      </div>
    </div>
  </div>
  <div fxFlexAlign="center" style="margin-top: 20px;" *ngIf="selectedResult === null">
    <mat-paginator [length]="resultsLength" [pageSize]="Paging" [pageSizeOptions]="[10, 20, 50, 100]"
                   (page)="display($event.pageIndex, $event.pageSize)"></mat-paginator>
  </div>
</section>
