<h2 mat-dialog-title class="mat-title">{{ data.title }}</h2>
<mat-dialog-content><span class="mat-body-2">{{ data.message }}</span></mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button [mat-dialog-close]="false" color="warn">Cancel</button>
    <!-- Can optionally provide a result for the closing dialog. -->
    <button mat-raised-button color="primary" [mat-dialog-close]="true">Yes</button>
</mat-dialog-actions>




