@import '~@angular/material/theming';
@include mat-core();



$accent: mat-palette($mat-teal,
  500);

.document {
  width: 100%;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  position: absolute;
  left: 0;
  top: 0;
  margin-bottom: 65px;
}

.img-container {
  position: relative;
}

.drawing-word {
  border:  mat-color($accent) 4px solid;
  position: absolute;
}

