
<div class="img-container">
  <img *ngIf="document !=null" draggable="false"
       ondragstart="return false;"
       #mainDocument class="document"
       (load)="onMainDocumentLoad()"
       [src]="'file:///' + document?.path"/>
  <div #wordDiv class="drawing-word"
       [style.left.px]="word?.x"
       [style.top.px]="word?.y"
       [style.width.px]="word?.width"
       [style.height.px]="word?.height"></div>
  </div>

