.mat-display-1 {
  margin-bottom: 10px;
}


button {
  text-transform: uppercase;
}

mat-nav-list {
  min-width: 200px;
}

.mylist {
  min-height: 100px;
  max-height: 500px;
  overflow: auto;
  margin: 20px 0 50px 0;
}

section {
  margin: 100px 0 100px 0;
  min-width: 500px;
}

mat-progress-spinner {
}
