<section fxLayout="column" fxLayoutAlign="space-evenly center">
    <div fxFlex="20" fxFlexAlign="center">
        <h1 class="mat-display-1">Collections</h1>
    </div>
    <div fxFlex fxFlexAlign="center" fxFill>
        <div fxLayout="row" fxLayoutAlign="center center">
            <mat-progress-spinner *ngIf="!(collectionList$ | async)"
                    strokeWidth="3" mode="indeterminate" ></mat-progress-spinner>
            <div fxFlex="40" *ngIf="collectionList$ | async">
                <mat-nav-list class="mylist">
                    <mat-list-item *ngFor="let collection of collectionList$ | async">
                        <a matLine [routerLink]="['/collection',collection.id]">{{collection.name}}</a>
                        <button disabled mat-raised-button color="warn" (click)="deleteCollection(collection.id)">
                            DELETE
                        </button>
                    </mat-list-item>
                </mat-nav-list>
            </div>
        </div>
    </div>
    <div fxFlex fxFill>
        <div fxLayout="row" fxLayoutAlign="center center">
            <div fxFlex="40" style="text-align: right">
                <button routerLink="/create-collection" mat-fab color="primary">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </div>
    </div>
</section>
