<mat-progress-bar *ngIf="!documentsLength" mode="indeterminate" color="warn"></mat-progress-bar>
<section *ngIf="documentsLength" fxLayout="column" fxLayoutAlign="space-evenly center">
    <div fxFlexAlign="center">
        <h1 class="mat-display-1">{{ (collection | async)?.name }}</h1>
    </div>
    <div fxFlexAlign="center" fxFill>
        <div fxLayout="row" fxLayoutAlign="space-around start" fxLayoutWrap>
            <mat-card *ngFor="let document of documents" fxFlex.xs="45" fxFlex.sm="28" fxFlex.md="13" fxFlex.lg="10">
                <mat-card-title>{{getFilename(document.path)}}</mat-card-title>
                <img (click)="goToDocument(document.id)" mat-card-image
                     [src]="'http://orpheus.ee.duth.gr/datasets/' + getThumbPath(document.path)"
                />
              <!--[src]="'file:///' + document.path"-->
            </mat-card>
        </div>
    </div>
    <div fxFlexAlign="center" style="margin-top: 20px;">
        <mat-paginator
                [length]="documentsLength"
                [pageSize]="20"
                [pageSizeOptions]="[20, 50, 100]"
                (page)="display($event.pageIndex, $event.pageSize)"
        ></mat-paginator>
    </div>
</section>
