section {
    margin: 100px 0 100px 0;
    min-width: 200px;
}

mat-paginator {

}


mat-card-actions button {
    width: 100%;
}

mat-card-title {
    text-align: center;
}

mat-card {
    img {
        cursor: pointer;
    }
    margin: 1%;
}
mat-card-title {
    font-size: 70%;
}

