<header class="header-background" fxLayout="row" fxLayoutAlign="start center">
    <mat-toolbar color="primary">
        <a mat-button target="_blank" href="http://duth.gr/index.en.shtml">
            <img class="img-responsive duth" src="assets/images/DUTHlogo.png" />
        </a>
        <a mat-button target="_blank" href="https://vc.ee.duth.gr">
            <img class="img-responsive vcg" src="assets/images/VCGlogo.png" />
        </a>
        
    </mat-toolbar>
    <button *ngIf="activate" [routerLink]="link" class="home-button" mat-raised-button color="accent">
        {{ title }}
    </button>
</header>
<router-outlet></router-outlet>
<section class="section-background footer">
    <mat-toolbar color="accent">
        <a mat-button target="_blank" href="https://read.transkribus.eu">
            <img class="img-responsive vcg" src="assets/images/readlogo.png" />
        </a>
        <span class="fill"> </span>
        <span class="mat-caption">
            <span>by</span> Konstantinos Zagoris:</span>
        <a mat-icon-button target="_blank" href="http://www.zagoris.gr">
            <mat-icon>
                <i class="icon ion-social-html5"></i>
            </mat-icon>
        </a>
        <a mat-icon-button target="_blank" href="https://twitter.com/kzagoris">
            <mat-icon>
                <i class="icon ion-social-twitter"></i>
            </mat-icon>
        </a>
    </mat-toolbar>
</section>