.mat-display-1 {
  margin-bottom: 10px;
}

mat-expansion-panel {
  margin: 0 0 40px 0;
}

mat-progress-spinner {
  margin:0 auto;
}

section {
  margin: 100px 0 100px 0;
  min-width: 500px;
}

.mat-form-field {
  width: 100%;
}

button {
  width: 100%;
  text-transform: uppercase;
}

.name-field {
  margin-bottom: 20px;
}

.button-row {
  padding-top: 50px;
}

.drop-zone {
  width: 100%;
  height: 400px;
  overflow-y: auto;

  span {
    transition: border 1s;
    border-bottom: dashed 2px transparent;
    text-decoration: none;
  }
  span:hover {
    cursor: pointer;
    border-bottom: dashed 2px #009688;
  }

}

.mat-title {
  text-align: center;
}
