@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
@import "ionicons";
@import '~@angular/material/theming';
//@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
// Plus imports for other components in your app.
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$primary: mat-palette($mat-indigo,
500,
100,
700);
$accent: mat-palette($mat-teal,
500);
// The warn palette is optional (defaults to red).
$warn: mat-palette($mat-red);
// Create the theme object (a Sass map containing all of the palettes).
$theme: mat-light-theme($primary,
$accent,
$warn);
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
.mat-app-background {
    $background: map-get($theme, background);
    background-color: mat-color($background, background);
}
.my-light-theme {
    @include angular-material-theme($theme);
    html,
    body {
        margin: 0;
        padding: 0;
        height: 100%;
    }
    .header-background, .section-background {
        background: mat-color($primary);
        color: mat-color($primary, default-contrast);
    }
    .accent-color {
        color: mat-color($accent);
        border-color: mat-color($accent);
    }

    .section-background {
        //height: 100%;
        //background: map-get(map-get($theme, background), background);
        //color: map-get(map-get($theme, foreground), text);
    }

    .radius-dashed-border {
        border: 2px dashed mat-color($accent);
        border-radius: 15px;
    }
}

/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

@mixin logo {
    height: 50px;
}

.duth {
    @include logo;
}

.vcg {
    @include logo;
}

.fill {
    flex: 1 1 auto;
}

.signature {
    font-size: 60%;
    >span {
        font-weight: lighter;
        font-size: 80%;
    }
}

.mat-display-3 {
    margin: 0 0 20px 0;
}

.icon {
    font-size: 24px;
}

.header-background {
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.text-center {
  text-align: center !important;
}






