<section fxLayout="column" fxLayoutAlign="space-between center" class="mat-typography">
  <div fxFlex="20" fxFlexAlign="center">
    <h1>Create a Collection</h1>
  </div>
  <div fxFlex fxFlexAlign="center" fxFill>
    <div fxLayout="row" fxLayoutAlign="center center">
      <div fxFlex="40">
        <mat-form-field class="name-field" *ngIf="!disabled">
          <input matInput placeholder="Name:" [formControl]="nameFormControl">
          <mat-error *ngIf="nameFormControl.hasError('required')">
            Name is
            <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div fxFlex fxFlexAlign="center" fxFill *ngIf="!disabled">
    <div fxLayout="row" fxLayoutAlign="center center">
      <div fxFlex="40">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Options
            </mat-panel-title>
            <mat-panel-description>
              Fine Tune Collection Creation
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <div fxFlex="45">
              <mat-form-field>
                <mat-select placeholder="Window Size"
                            (valueChange)="updateWindowSize($event)"
                            [value]="options.WindowSize"
                            [disabled]="options.WindowSize === -1">
                  <mat-option [value]="44">44</mat-option>
                  <mat-option [value]="52">52</mat-option>
                  <mat-option [value]="60">60</mat-option>
                  <mat-option [value]="68">68</mat-option>
                  <mat-option [value]="76">76</mat-option>
                  <mat-option [value]="84">84</mat-option>

                </mat-select>

              </mat-form-field>
            </div>
            <div fxFlex="45" >
              <mat-slide-toggle [checked]="options.WindowSize === -1" (change)="toggleDynamicWindow($event.checked)">
                Dynamic
              </mat-slide-toggle>
            </div>
          </div>
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <div fxFlex="45">
              <mat-form-field>
                <input matInput (change)="updateCoarsekQuantizationMaxIterations($event.target.value)" [value]="options.CoarsekQuantizationMaxIterations"
                       type="number" min="1000" max="999999999" placeholder="Coarsek Quantization Max Iterations">
              </mat-form-field>
            </div>
            <div fxFlex="45">
              <mat-form-field>
                <input matInput (change)="updateCoarketQuantizationTolerance($event.target.value)"
                       [value]="options.CoarsekQuantizationTolerance" type="number" min="0" max="0.1" step="0.000001"
                       placeholder="Coarsek Quantization Tolerance">
              </mat-form-field>
            </div>
          </div>
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <div fxFlex="45">
              <mat-form-field>
                <input matInput (change)="updateCoarsekNumberCluster($event.target.value)" [value]="options.CoarsekNumberCluster"
                       type="number" min="1" max="200" placeholder="Coarsek Cluster Number">
              </mat-form-field>
            </div>
            <div fxFlex="45">
              <mat-form-field>
                <input matInput (change)="updateMinCCSize($event.target.value)" [value]="options.MinCCSize"
                       type="number" min="0" max="20" placeholder="Minimum CC Size">
              </mat-form-field>
            </div>
          </div>
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <div fxFlex="90">
              <mat-form-field>
                <input matInput (change)="updateQuantizationNumberLocalPoints($event.target.value)" [value]="options.QuantizationNumberLocalPoints"
                       type="number" min="1" max="99999999" placeholder="Local Points Number for Quantization">
              </mat-form-field>
            </div>
          </div>
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <div fxFlex="45">
              <mat-form-field>
                <input matInput (change)="updateQX($event.target.value)" [value]="options.QX"
                       type="number" min="1" max="200" placeholder="QX">
              </mat-form-field>
            </div>
            <div fxFlex="45">
              <mat-form-field>
                <input matInput (change)="updateQY($event.target.value)" [value]="options.QY"
                       type="number" min="1" max="200" placeholder="QY">
              </mat-form-field>
            </div>
          </div>


        </mat-expansion-panel>
      </div>
    </div>
  </div>
  <div fxFlex fxFlexAlign="center" fxFill>
    <div fxLayout="row" fxLayoutAlign="center center">
      <div fxFlex="40">
        <mat-progress-spinner *ngIf="disabled" mode="indeterminate" strokeWidth="2"></mat-progress-spinner>
        <div *ngIf="!disabled" ng2FileDrop [ng2FileDropMaximumSizeBytes]="999999999"
             (ng2FileDropFilesDropped)="dragFilesDropped($event)"
             [ng2FileDropAcceptMultiple]="true" class="radius-dashed-border drop-zone" fxLayout="row"
             fxLayoutAlign="center center">
          <div fxFlex="80">
            <h2 class="mat-title">Drop files here or click to upload
              <span class="accent-color" (click)="openDialog('openFile')">files</span> or
              <span class="accent-color" (click)="openDialog('openDirectory')">folder</span>
            </h2>
            <mat-list>
              <mat-list-item *ngFor="let document of documents">
                {{document.path | rtruncate:40}}
              </mat-list-item>
            </mat-list>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div fxFlex fxFlexAlign="center" fxFill class="button-row">
    <div fxLayout="row" fxLayoutAlign="center center">
      <div fxFlex="40">
        <div fxLayout="row" fxLayoutAlign="space-around center">
          <div fxFlex="40">
            <button [disabled]="disabled || nameFormControl.hasError('required') || documents.length === 0"
                    mat-raised-button color="primary"
                    (click)="createCollection()">create
            </button>
          </div>
          <div fxFlex="40">
            <button routerLink="/collections" mat-raised-button color="accent">go back
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
